body {
    font-family: "Monospace";
    font-size: 24px;
    background-color: black;
    color: #FF7700;
}
a, a:visited, a:link, a:active  {
    color: #FF7700;
}
a:hover {
    color: white;
    text-decoration: none;
    background-color: #FF7700;
}
#container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
input {
    width: 85%;
    height: 30px;
    font-size: 27px;
}
#q, #s1, #content {
    display: none;
}
#menu {
    font-size: 12px;
}
#content {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 85%;
    font-size: 12px;
}
