[main]
base_url = http://start

[db]
host    = localhost
port    = 3306
name    = sprwz
user    = username
pass    = password
prefix  = sprwz_

[core]
prefix_command  = @
prefix_bookmark = #
search_engine_url = "https://duckduckgo.com/?q="


;vim: set ft=dosini:
